<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>TaskApp · Phoenix Framework</title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script defer type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  <style>
   header
   {
     background-color:yellow;
   }
  </style>
  </head>
  <body>
    <header>
      <section class="container">
        <nav role="navigation">
          <ul>
            <%= if Pow.Plug.current_user(@conn) do %>
            <li>
            <%= @current_user.email %>
            </li>

            <li>
            <%= link "Sign Out", to: Routes.pow_session_path(@conn, :delete), method: :delete %>
            </li>

            <% else %>

            <li>
              <%= link "Register" , to: Routes.pow_registration_path(@conn, :new) %>
            </li>

            <li>
            <%= link "Sign in", to: Routes.pow_session_path(@conn, :new) %>

            </li>


            <% end %>
          </ul>
        </nav>
         <a href="https://phoenixframework.org/" class="phx-logo">

         </a>
      </section>
    </header>
    <main role="main" class="container">
      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
      <%= @inner_content %>
    </main>
  </body>
</html>
