
<html>
<head>
<style>
  body
  {
    background-image:url("https://static.toiimg.com/photo/msid-54559212,width-96,height-65.cms");
    background-size: cover;
    background-attachment: fixed;
  }

  h1
  {
    color:lime;
    text-align:center;
  }

  p
  {
    text-align:justify;
    color:orange;
    font-size: 19px;
    border: 6px dotted crimson;
  }
</style>
<title>
</title>
<body>
<h1><i><u> Wellcome to Bangalore</u> </i><h1>

<p>Bengaluru (also called Bangalore) is the capital of India's southern Karnataka state. The center of India's high-tech industry, the city is also known for its parks and nightlife. By Cubbon Park, Vidhana Soudha is a Neo-Dravidian legislative building. Former royal residences include 19th-century Bangalore Palace, modeled after England’s Windsor Castle, and Tipu Sultan’s Summer Palace, an 18th-century teak structure.
<h2><u>Best Foods in Bangalore</u></h2>
<ol>
<li>Idlis,Vadas </li>
<li>Masala Dosa </li>
<li>Rolls and Kababs </li>
<li>Momos</li>
<li>Bhajji </li>
</body>
</head>
</html>
