<style>
 body
 {
   background-color:cyan;
 }

</style>

<body>
<%= form_for @changeset, @action, fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, :description %>
  <%= text_input f, :description %>
  <%= error_tag f, :description %>

  <%= label f, :completed %>
  <%= checkbox f, :completed %>
  <%= error_tag f, :completed %>

  <div>
    <%= submit "Save" %>
  <% end %>
  </div>
  </body>
