<style>
body
{
  background-color:limegreen;

}


</style>

<body>
<h1>Listing Tasks</h1>

<table>
  <thead>
    <tr>
      <th>Description</th>
      <th>Completed</th>

      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for task <- @tasks do %>
    <tr>
      <td><%= task.description %></td>
      <td><%= task.completed %></td>

      <td>
        <span><%= link "Show", to: Routes.task_path(@conn, :show, task) %></span>
        <span><%= link "Edit", to: Routes.task_path(@conn, :edit, task) %></span>
        <span><%= link "Delete", to: Routes.task_path(@conn, :delete, task), method: :delete, data: [confirm: "Are you sure?"] %></span>
      </td>
    </tr>
<% end %>
  </tbody>
</table>

<span><%= link "New Task", to: Routes.task_path(@conn, :new) %></span>
</body>
