<h1>Sign in</h1>
<style>
input[type="text"]:focus
{
  background-color:blue;
  color:white;
}
input[type="password"]:focus
{
  background-color:blue;
  color:white;
}
body
{
  background-image:url(https://trbahadurpur.com/wp-content/uploads/2021/01/background-6.jpg);
}

</style>
<body>
<%= form_for @changeset, @action, [as: :user], fn f -> %>
  <%= if @changeset.action do %>
    <div class="alert alert-danger">
      <p>Oops, something went wrong! Please check the errors below.</p>
    </div>
  <% end %>

  <%= label f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= text_input f, Pow.Ecto.Schema.user_id_field(@changeset) %>
  <%= error_tag f, Pow.Ecto.Schema.user_id_field(@changeset) %>

  <%= label f, :password %>
  <%= password_input f, :password %>
  <%= error_tag f, :password %>

  <div>
    <%= submit "Sign in" %>
  </div>
  <span><%= link "Forgot Password", to: Routes.pow_reset_password_reset_password_path(@conn, :new) %></span>

<% end %>


<span><%= link "Register", to: Routes.pow_registration_path(@conn, :new) %></span>
</body>
